@font-face {
  font-family: 'iconfont';  /* project id 335970 */
  src: url('//at.alicdn.com/t/font_v4jcfckfeiykfbt9.eot');
  src: url('//at.alicdn.com/t/font_v4jcfckfeiykfbt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_v4jcfckfeiykfbt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_v4jcfckfeiykfbt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_v4jcfckfeiykfbt9.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenhe:before{
  content: "\e603";
}
.icon-guanli:before{
  content: "\e683";
}
.icon-middleware:before{
  content: "\e654";
}
.icon-pingtai:before{
  content: "\e853";
}
.icon-safe:before{
  content: "\e604";
}
.icon-reliable:before{
  content: "\e6a5";
}
.icon-economy:before{
  content: "\e651";
}
.icon-public:before{
  content: "\e653";
}
.icon-company:before{
  content: "\e615";
}
.icon-training1:before{
  content: "\e61c";
}
.icon-training:before{
  content: "\e667";
}
.icon-db:before{
  content: "\e6d0";
}
.icon-partner:before{
  content: "\e62f";
}
.icon-consult:before{
  content: "\e60e";
}
.icon-db2:before{
  content: "\e682";
}
.icon-line:before{
  content: "\e609";
}
